@import "../../sassStyles/extends";
@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.event-box {
  margin-bottom: 40px;

  @include lgDesBreakPoint {
    display: grid;
    justify-content: center;
  }
}

.event-title {
  margin-top: 24px;
}

.event-list {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: getVariable($colors, "white");
  box-shadow: 2px 4px 9px 0px #a68dae47;
  margin-top: 24px;
  width: 272px;

  @include mdTabBreakPoint {
    width: 688px;
  }

  @include lgDesBreakPoint {
    width: 628px;
  }
}

.event-img {
  display: block;
  width: 100%;
}

.event-item__description {
  display: block;
  position: absolute;
  bottom: 0;
}

.event-list__details {
  background: getVariable($colors, "white");
  padding: 24px 16px 40px 16px;

  @include mdTabBreakPoint {
    padding: 24px 24px 40px 24px;
  }

  @include lgDesBreakPoint {
    padding: 20px 16px 40px 16px;
  }
}

.item-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.box-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.details-category,
.details-priority,
.details-location {
  padding: 6px 12px;
  box-shadow: 4px 5px 9px 0px #a68dae47;
  border-radius: 8px;

  &:nth-child(2) {
    margin: 0 12px;
  }
}

.event-box__date {
  padding: 6px 12px;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: 2px 4px 9px 0px #a68dae47;

  @include mdTabBreakPoint {
    margin-top: 0;
    margin-left: 12px;
  }
}

.event-date {
  display: inline-block;
  color: getVariable($colors, "accent");

  & + span {
    margin: 0 3px;
  }
}

.event-item__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  @include mdTabBreakPoint {
    justify-content: end;
  }
}

.event-btn__edit {
  @extend %button;
  padding: 8px 42px;
  font-size: getVariable($fontSize, sizeSmall);
  background: getVariable($colors, "white");
  color: getVariable($colors, "accent");
  border: 1px solid getVariable($colors, "accent");
  box-shadow: none;
  transition: box-shadow 250ms ease-in-out;

  &:hover,
  &:focus {
    background: transparent;
    box-shadow: 2px 4px 9px 0px #a68dae47;
  }

  @include mdTabBreakPoint {
    padding: 8px 16px;
  }
}

.event-btn__delete {
  @extend %button;
  padding: 8px 16px;
  font-size: getVariable($fontSize, sizeSmall);
  box-shadow: none;

  @include mdTabBreakPoint {
    margin-left: 16px;
  }
}
